# EDA - Bureau

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 0)

import missingno as msno
import seaborn as sns
from tqdm import tqdm
from IPython.display import display

sns.set_style('darkgrid')
tqdm.pandas()

import sys
sys.path.append('../')
from config import *

In [2]:
bureau = pd.read_feather(INPUT / 'bureau.ftr')
bureau_balance = pd.read_feather(INPUT / 'bureau_balance.ftr')
display(bureau.head())
display(bureau_balance.head())

   SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT     ...       AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE      CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
0      215354       5714462        Closed      currency 1         -497     ...                        NaN                     0.0  Consumer credit                -131          NaN
1      215354       5714463        Active      currency 1         -208     ...                        NaN                     0.0      Credit card                 -20          NaN
2      215354       5714464        Active      currency 1         -203     ...                        NaN                     0.0  Consumer credit                 -16          NaN
3      215354       5714465        Active      currency 1         -203     ...                        NaN                     0.0      Credit card                 -16          NaN
4      215354       5714466        Active      currency 1         -629     ...                        NaN                     0.0  Consumer credit                 -21          NaN

[5 rows x 17 columns]

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [43]:
bureau_balance.groupby('SK_ID_BUREAU').head(1)

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
0              5715448               0      C
27             5715449               0      C
39             5715451              -5      C
65             5715452               0      C
98             5715453               0      C
136            5715454             -15      C
175            5715455             -49      X
213            5715456             -21      X
240            5715457               0      0
248            5715458               0      C
273            5715459               0      C
294            5715460               0      X
302            5715461               0      0
306            5715478               0      C
315            5715479               0      C
336            5715480               0      C
348            5715521               0      C
359            5715529             -58      C
364            5715530               0      C
387            5715531              -8      C
392            5715538               0      0
401            5715539               0      0
409            5715540               0      0
414            5715565               0      X
445            5715793             -20      X
473            5715794             -43      X
480            5715795             -11      X
508            5715796             -10      X
536            5715797               0      0
563            5717347             -18      0
...                ...             ...    ...
27297924       5017911               0      C
27297985       5017912               0      0
27297993       5024563               0      0
27298019       5024709               0      C
27298116       5004722               0      X
27298172       5004724               0      C
27298218       5004725               0      C
27298295       5004796               0      X
27298392       5004806               0      C
27298405       5004884               0      C
27298499       5004926               0      C
27298583       5011569               0      C
27298680       5011707               0      C
27298758       5011723               0      C
27298851       5011806               0      C
27298945       5017919               0      C
27299011       5018102               0      C
27299108       5018160               0      C
27299169       5018304               0      C
27299249       5018308               0      C
27299329       5024997             -32      C
27299394       5025165              -5      X
27299486       5025218               0      C
27299553       5041084             -22      C
27299618       5041120              -4      C
27299691       5041141               0      C
27299716       5041143             -14      C
27299799       5041172               0      C
27299877       5041332               0      X
27299901       5041336             -28      X

[817395 rows x 3 columns]

In [15]:
buro_bal = bureau_balance.groupby('SK_ID_BUREAU') \
    .STATUS.value_counts().unstack('STATUS').fillna(0).astype(int)

buro_bal.columns = 'status_' + buro_bal.columns + '_cnt'

buro_bal['months_cnt'] = bureau_balance.groupby('SK_ID_BUREAU').MONTHS_BALANCE.size()
buro_bal['months_max'] = bureau_balance.groupby('SK_ID_BUREAU').MONTHS_BALANCE.max()
buro_bal['months_min'] = bureau_balance.groupby('SK_ID_BUREAU').MONTHS_BALANCE.min()

for f in tqdm(buro_bal.filter(regex='status_').columns):
    buro_bal[f.replace('_cnt', '_ratio')] = buro_bal[f] / buro_bal.months_cnt

buro = bureau.merge(buro_bal.reset_index(), how='left', on='SK_ID_BUREAU')

100%|██████████| 8/8 [00:00<00:00, 129.31it/s]

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
buro_cat = [f for f in buro.columns if buro[f].dtype == 'object']
for f in tqdm(buro_cat):
    buro[f] = le.fit_transform(buro[f].astype(str))
    nunique = buro[['SK_ID_CURR', f]].groupby('SK_ID_CURR').nunique()
    nunique = nunique[f].reset_index().rename(columns={f: 'nunique_'+f})
    buro = buro.merge(nunique, on='SK_ID_CURR', how='left')
    buro.drop(f, axis=1, inplace=True)

100%|██████████| 3/3 [00:25<00:00,  8.48s/it]

In [21]:
avg_buro = buro.groupby('SK_ID_CURR').mean()

In [24]:
train = pd.read_feather(INPUT / 'application_train.ftr')
test = pd.read_feather(INPUT / 'application_test.ftr')

In [28]:
avg_buro.drop('SK_ID_BUREAU', axis=1, inplace=True)
avg_buro.columns = 'bureau_' + avg_buro.columns

In [32]:
train.merge(avg_buro, left_on='SK_ID_CURR', right_index=True, how='left').filter(regex='bureau_')

        bureau_DAYS_CREDIT  bureau_CREDIT_DAY_OVERDUE  bureau_DAYS_CREDIT_ENDDATE             ...              bureau_nunique_CREDIT_ACTIVE  bureau_nunique_CREDIT_CURRENCY  bureau_nunique_CREDIT_TYPE
0              -874.000000                        0.0                 -349.000000             ...                                       2.0                             1.0                         2.0
1             -1400.750000                        0.0                 -544.500000             ...                                       2.0                             1.0                         2.0
2              -867.000000                        0.0                 -488.500000             ...                                       1.0                             1.0                         1.0
3                      NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
4             -1149.000000                        0.0                 -783.000000             ...                                       1.0                             1.0                         1.0
5              -757.333333                        0.0                 -391.333333             ...                                       2.0                             1.0                         1.0
6             -1271.500000                        0.0                 -794.937500             ...                                       2.0                             1.0                         2.0
7             -1939.500000                        0.0                 -119.500000             ...                                       2.0                             1.0                         2.0
8             -1773.000000                        0.0                -1293.250000             ...                                       1.0                             1.0                         2.0
9                      NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
10            -1095.375000                        0.0                 -387.375000             ...                                       2.0                             1.0                         1.0
11             -947.750000                        0.0                 -598.250000             ...                                       1.0                             1.0                         1.0
12             -618.428571                        0.0                 -217.142857             ...                                       2.0                             1.0                         2.0
13            -1944.333333                        0.0                -1512.333333             ...                                       1.0                             1.0                         2.0
14                     NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
15             -495.000000                        0.0                 5441.000000             ...                                       1.0                             1.0                         2.0
16             -261.500000                        0.0                  -32.500000             ...                                       2.0                             1.0                         1.0
17                     NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
18             -337.000000                        0.0                  940.000000             ...                                       1.0                             1.0                         1.0
19            -1164.384615                        0.0                 -364.916667             ...                                       2.0                             1.0                         2.0
20                     NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
21             -700.000000                        0.0                 1124.000000             ...                                       1.0                             1.0                         1.0
22             -679.000000                        0.0                  899.000000             ...                                       2.0                             1.0                         2.0
23             -793.000000                        0.0                 -278.333333             ...                                       2.0                             1.0                         1.0
24            -1416.750000                        0.0                 -336.333333             ...                                       2.0                             1.0                         2.0
25             -930.833333                        0.0                  -61.600000             ...                                       2.0                             1.0                         2.0
26             -579.571429                        0.0                  468.600000             ...                                       2.0                             1.0                         2.0
27            -1071.000000                        0.0                 -525.250000             ...                                       2.0                             1.0                         1.0
28             -195.000000                        0.0                  913.000000             ...                                       1.0                             1.0                         1.0
29                     NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
...                    ...                        ...                         ...             ...                                       ...                             ...                         ...
307481        -1053.000000                        0.0                  253.125000             ...                                       2.0                             1.0                         2.0
307482         -455.000000                        0.0                  514.000000             ...                                       1.0                             1.0                         1.0
307483        -1596.250000                        0.0                 -726.250000             ...                                       2.0                             1.0                         2.0
307484                 NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
307485        -1839.000000                        0.0                 9118.000000             ...                                       1.0                             1.0                         1.0
307486        -1254.833333                        1.0                 2025.200000             ...                                       2.0                             1.0                         2.0
307487         -712.285714                        0.0                  536.714286             ...                                       2.0                             1.0                         1.0
307488         -529.500000                        0.0                  506.000000             ...                                       1.0                             1.0                         2.0
307489         -203.000000                        0.0                  528.000000             ...                                       1.0                             1.0                         1.0
307490         -756.600000                        0.0                 -205.100000             ...                                       2.0                             1.0                         2.0
307491        -1785.000000                        0.0                 1381.333333             ...                                       2.0                             1.0                         2.0
307492        -1270.153846                        0.0                  478.769231             ...                                       2.0                             1.0                         3.0
307493        -1430.000000                        0.0                 -699.000000             ...                                       1.0                             1.0                         1.0
307494        -2157.833333                        0.0                -1561.666667             ...                                       2.0                             1.0                         2.0
307495        -1529.909091                        0.0                  333.000000             ...                                       2.0                             1.0                         3.0
307496        -1438.500000                        0.0                12425.000000             ...                                       2.0                             1.0                         2.0
307497        -1599.200000                        0.0                -1623.000000             ...                                       2.0                             1.0                         1.0
307498         -491.000000                        0.0                  509.000000             ...                                       1.0                             1.0                         1.0
307499         -710.571429                        0.0                 -459.400000             ...                                       2.0                             1.0                         2.0
307500        -1740.956522                        0.0                -1132.090909             ...                                       2.0                             1.0                         2.0
307501                 NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
307502        -1361.000000                        0.0                 -234.666667             ...                                       2.0                             1.0                         2.0
307503        -1043.181818                        0.0                 1449.818182             ...                                       2.0                             1.0                         3.0
307504                 NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
307505        -1667.076923                        0.0                -1232.333333             ...                                       2.0                             1.0                         3.0
307506                 NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
307507                 NaN                        NaN                         NaN             ...                                       NaN                             NaN                         NaN
307508         -867.500000                        0.0                  280.500000             ...                                       2.0                             1.0                         2.0
307509        -1104.000000                        0.0                 -859.000000             ...                                       1.0                             1.0                         1.0
307510        -1089.454545                        0.0                 3231.272727             ...                                       2.0                             1.0                         2.0

[307511 rows x 34 columns]

In [34]:
df = pd.read_feather(WORKING / 'bureau_train.ftr')

In [35]:
df.shape

(307511, 36)

In [16]:
buro.head()

   SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  CREDIT_DAY_OVERDUE       ...        status_2_ratio  status_3_ratio  status_4_ratio  status_5_ratio  status_C_ratio  status_X_ratio
0      215354       5714462        Closed      currency 1         -497                   0       ...                   NaN             NaN             NaN             NaN             NaN             NaN
1      215354       5714463        Active      currency 1         -208                   0       ...                   NaN             NaN             NaN             NaN             NaN             NaN
2      215354       5714464        Active      currency 1         -203                   0       ...                   NaN             NaN             NaN             NaN             NaN             NaN
3      215354       5714465        Active      currency 1         -203                   0       ...                   NaN             NaN             NaN             NaN             NaN             NaN
4      215354       5714466        Active      currency 1         -629                   0       ...                   NaN             NaN             NaN             NaN             NaN             NaN

[5 rows x 36 columns]

In [ ]:
bureau_balance.STATUS.value_counts()

In [ ]:
msno.matrix(bureau.sample(300))
plt.show()

msno.heatmap(bureau)
plt.show()

In [ ]:
counts = bureau.SK_ID_CURR.value_counts()
counts.hist(bins=counts.max()-counts.min())
plt.title('SK_ID_CURR counts')
plt.show()

In [ ]:
bureau.DAYS_CREDIT.hist(bins=100)
plt.title('DAYS_CREDIT hist')
plt.show()

In [ ]:
plt.hist(bureau.CREDIT_DAY_OVERDUE, bins=100, log=True)
plt.show()

In [ ]:
bureau[['SK_ID_CURR', 'CNT_CREDIT_PROLONG']].groupby('SK_ID_CURR').CNT_CREDIT_PROLONG.max().value_counts().sort_index()

In [ ]:
bureau.AMT_CREDIT_SUM.hist(bins=100, log=True)

In [ ]:
np.log1p(bureau[['SK_ID_CURR', 'AMT_CREDIT_SUM']].groupby('SK_ID_CURR').mean()).hist(bins=100)
plt.show()

In [ ]:
np.log1p(bureau.AMT_CREDIT_SUM_DEBT[bureau.AMT_CREDIT_SUM_DEBT!=0]).hist(bins=100)
plt.show()

In [ ]:
np.log1p(bureau.AMT_CREDIT_SUM_LIMIT[bureau.AMT_CREDIT_SUM_LIMIT!=0]).hist(bins=100)

In [ ]:
bureau.CREDIT_TYPE.value_counts()

In [ ]:
bureau.DAYS_CREDIT_ENDDATE.hist(bins=100, log=True)

In [ ]:
bureau.CREDIT_CURRENCY.value_counts()

In [ ]:
bureau.CREDIT_ACTIVE.value_counts()

In [ ]:
nunique = bureau[['SK_ID_CURR', 'CREDIT_ACTIVE']].groupby('SK_ID_CURR').CREDIT_ACTIVE.nunique()
nunique.value_counts()

In [ ]:
bureau

In [ ]:
bureau.query("SK_ID_CURR in @nunique.to_frame().query('CREDIT_ACTIVE==1').index")

In [ ]:
bureau[['SK_ID_CURR', 'CREDIT_ACTIVE']].groupby('SK_ID_CURR').